body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    font-family: "Open Sans" , Helvetica, sans-serif;

}

/*styles for timeline */
* {
	box-sizing: border-box;
}
.container_timeline {
	display: flex;
  flex-direction: row;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;
  box-sizing: border-box;
}
.timeline {
	display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	width: 100%;
}
.icon2 {
	display: flex;
	background: linear-gradient(to right, white 45%, black 45%, black 45%, white 50%);
	order: 2;
	text-align: center;
	color: #fff;
	font-size: 28px;
	flex-basis: 100px;
}

.icon2>span {
	font-size: 20px;
	margin: auto;
	background: #04AA6D;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	line-height: 40px;
	border: 5px solid #b1dcf5;
}
.info {
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	color: #383838;
	order: 3;
	width: 80%;
	padding-left: 10px;
	background: #fff;
	transition: all .6s ease;
}
.info {
	margin-bottom: 3%;
}
.info:hover{
  background-color: #ddd;
}

@media (min-width: 600px) {
	.info, .custom {
		width: 40%;
	}
	.box-right .info {
		order: 1;
		padding-right: 10px;
	}
	.box-right .custom {
		order: 3;
	}
}

/* Styles for user bar */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/* Styles for sections */

section{

  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

/*Init section will have different styles*/
.ini_section{
  margin-top: 50px;
  background: url(../images/background_2.jpg) no-repeat;
  width: 100%;
  height: 600px;
}


@media screen and  (min-width: 500px) {
.ini_section{

  margin-top: 50px;
  background: url(../images/background_2.jpg);
  height: 700px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
}
/*In case mobile device, use a diffrent background image */

@media screen and  (max-width: 480px) {
  .ini_section{
    margin-top: 50px;
    background: url(../images/background_3.jpg) no-repeat;
    height: 300px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  
}
.ini_title{

  color: white;
}

.container{

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > p{
  hyphens: auto;
}

.map{
  width: 100%;
  height: 400px;
  margin-top: 10px;
}


/*Make image smaller when running on mobile */
@media screen and (max-width: 600px) {
  .image_insta{
    width: 300px;
  }
  
  
}

/*Styles for footer */  
footer{

    background: #333;
    bottom:0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content:center;
    margin-top: auto;

}
footer > div > a, span {
    color: white;

}